# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
target/

# Jupyter Notebook
.ipynb_checkpoints

.venv

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
.idea

# SQLite
*.sqlite

*cache.json

