{% extends "base.html" %}


{% block page_header %}
<a href="{{ url_for('main.index') }}"><i class="fas fa-home"></i></a> > Stocks {{project.name}}
{% endblock %}
{% block page_content %}
<div class="btn-toolbar mb-3" role="toolbar" aria-label="Stock management toolbar">
<div class="btn-group mr-2" role="group" aria-label="Add stocks and plans">
    <button class="btn btn-outline-primary" data-toggle="modal" data-target="#DirectStocksModal">Add Direct Stocks</button>
    <div class="btn-group" role="group">
        <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">Add RSU plan</button>
        <div class="dropdown-menu">
            <a class="dropdown-item" data-toggle="modal" data-target="#RsuPlanModal">Input</a>
            <a class="dropdown-item" data-toggle="modal" data-target="#RsuImportModal">Import from TSV</a>
        </div>
    </div>
    <button class="btn btn-outline-primary" data-toggle="modal" data-target="#StockOptionsModal">Add Stock Option plan</button>
</div>
<div class="btn-group mr-2" role="group" aria-label="Sell stocks">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownSellingButton" data-toggle="dropdown">
            Declare a selling event
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" data-toggle="modal" data-target="#SellingStockModal">Sell direct stocks</a>
            <a class="dropdown-item" data-toggle="modal" data-target="#SellingRsuModal">Sell RSUs</a>
        </div>
    </div>
</div>
<div class="btn-group mr-2" role="group" aria-label="Get tax statement">
    <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownTaxButton" data-toggle="dropdown">
            Tax helper
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownTaxButton">
        {% for y in sales_years %}
            <a class="dropdown-item" href="{{ url_for('.taxed_stock_helper', project_id=project.id, year=y) }}">{{y}}</a>
        {% endfor %}
        </div>
    </div>

</div>
</div>
<hr>

{% if direct_stocks %}
<h3 class="my-4">Direct stocks</h3>
{% endif %}
<div class="mx-2">
{% for symbol, dstocks in direct_stocks.items() %}
<h6 class="mt-3">{{ symbol }}</h6>
<ul class="list-group">
    {% for ds in dstocks %}
    <li class="list-group-item">{{ds.acquisition_date}} <text class="text-muted">{{ ds.quantity }} x {{ds.acquisition_price}} {{ds.stock_currency}}</text>
                <a class="btn btn-danger btn-sm float-right" href="{{ url_for('.rm_direct_stocks', project_id=project.id, dstocks_id=ds.id) }}"><i class="fa fa-trash"></i></a>
    </li>
    {% endfor %}
</ul>
{% endfor %}
</div>

{% if grouped_rsu_plans %}
<h3 class="my-4">RSU Plans</h3>
{% endif %}

{% for symbol, rsu_plans in rsu_portfolio.get_plans().items() %}
<h4 class="my-4">{{ symbol }}: {{ rsu_portfolio.stock_symbols[symbol] }}</h4>
<ul class="list-group">
    {% for plan in rsu_plans %}
    <li class="list-group-item">{{ plan.name }}  <text class="text-muted">tax scheme: {{plan.tax_scheme.value}}</text>
                <!-- data-rsuplan gets forwarded to the wtform in modal, by some JS -->
                <a class="btn btn-success btn-sm" data-toggle="modal" data-target="#RsuVestingModal" data-rsuplan="{{plan.plan_id}}"><i class="fa fa-plus" style="color:white"></i> add vesting</a>
                <a class="btn btn-danger btn-sm float-right" href="{{ url_for('.rm_rsu_plan', project_id=project.id, rsuplan_id=plan.plan_id) }}"><i class="fa fa-trash"></i></a>
        <ul>
            {% for vesting in plan.vestings %}
            <li>{{vesting.vesting_date}} :
                {% if vesting.currently_available != vesting.initial_amount %}
                    <s>{{vesting.initial_amount}}</s> {{vesting.currently_available}}
                {% else %}
                    {{vesting.initial_amount}}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
{% endfor %}

<hr>

<h3 class="my-4">Direct stock sales</h3>
<ul class="list-group">
    {% for dstock_sale in dstock_sales %}
    <li class="list-group-item">{{ dstock_sale.symbol }}  <text class="text-muted">{{ dstock_sale.quantity }} x {{dstock_sale.sell_price}} {{dstock_sale.sell_currency}}</text>
                <a class="btn btn-danger btn-sm float-right" href="{{ url_for('.rm_dstock_sale', project_id=project.id, dstock_sale_id=dstock_sale.id) }}"><i class="fa fa-trash"></i></a>
    </li>
    {% endfor %}
</ul>

<h3 class="my-4">RSU sales</h3>
<ul class="list-group">
    {% for rsu_sale in rsu_portfolio.raw_sales %}
    <li class="list-group-item">{{ rsu_sale.symbol }}  <text class="text-muted">{{ rsu_sale.quantity }} x {{rsu_sale.sell_price}} {{rsu_sale.sell_currency}}</text>
                <a class="btn btn-danger btn-sm float-right" href="{{ url_for('.rm_rsu_sale', project_id=project.id, rsu_sale_id=rsu_sale.id) }}"><i class="fa fa-trash"></i></a>
    </li>
    {% endfor %}
</ul>

{% import 'bootstrap/form.html' as wtf %}
<div class="modal" id="DirectStocksModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">Direct Stocks</div>
            <div class="modal-body">
                    {{ wtf.render_form(dstock_form, action=url_for(".add_direct_stocks", project_id=project.id)) }}
            </div>
        </div>
    </div>
</div>

<div class="modal" id="RsuPlanModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">RSU Plan</div>
            <div class="modal-body">
                    {{ wtf.render_form(rsuplan_form, action=url_for(".add_rsu_plan", project_id=project.id)) }}
            </div>
        </div>
    </div>
</div>

<div class="modal" id="RsuImportModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">RSU Import</div>
            <div class="modal-body">
                    {{ wtf.render_form(rsu_import_form, action=url_for(".import_rsu_plan", project_id=project.id)) }}
            </div>
        </div>
    </div>
</div>

<div class="modal" id="RsuVestingModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">RSU Plan</div>
            <div class="modal-body">
                    {{ wtf.render_form(rsuvesting_form, action=url_for(".add_rsu_vesting", project_id=project.id)) }}
            </div>
        </div>
    </div>
</div>

<div class="modal" id="SellingStockModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">Selling direct stocks</div>
            <div class="modal-body">
                    {{ wtf.render_form(dstock_sale_form, action=url_for(".add_dstocks_sale", project_id=project.id)) }}
            </div>
        </div>
    </div>
</div>

<div class="modal" id="SellingRsuModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">Selling RSUs</div>
            <div class="modal-body">
                    {{ wtf.render_form(rsu_sale_form, action=url_for(".add_rsu_sale", project_id=project.id)) }}
            </div>
        </div>
    </div>
</div>

<script>
$('#RsuVestingModal').on('show.bs.modal', function (event) {
  let planId = $(event.relatedTarget).data('rsuplan')
  $(this).find('.modal-body #rsuplan_id').val(planId)
})
</script>


{% endblock %}

