{% extends "base.html" %}


{% block page_header %}
<a href="{{ url_for('main.index') }}"><i class="fas fa-home"></i></a> > Stocks {{project.name}}
{% endblock %}
{% block page_content %}
<div class="btn-toolbar mb-3" role="toolbar" aria-label="Stock management toolbar">
<div class="btn-group mr-2" role="group" aria-label="Add stocks and plans">
    <button class="btn btn-outline-primary" data-toggle="modal" data-target="#DirectStocksModal">Add Direct Stocks</button>
    <div class="btn-group" role="group">
        <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">Add RSU plan</button>
        <div class="dropdown-menu">
            <a class="dropdown-item" data-toggle="modal" data-target="#RsuPlanModal">Input</a>
            <a class="dropdown-item" data-toggle="modal" data-target="#RsuImportModal">Import from TSV</a>
        </div>
    </div>
    <button class="btn btn-outline-primary" data-toggle="modal" data-target="#StockOptionsModal">Add Stock Option plan</button>
</div>
<div class="btn-group mr-2" role="group" aria-label="Sell stocks">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownSellingButton" data-toggle="dropdown">
            Declare a selling event
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" data-toggle="modal" data-target="#SellingStockModal">Sell direct stocks</a>
            <a class="dropdown-item" data-toggle="modal" data-target="#SellingRsuModal">Sell RSUs</a>
        </div>
    </div>
</div>
<div class="btn-group mr-2" role="group" aria-label="Get tax statement">
    <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownTaxButton" data-toggle="dropdown">
            Tax helper
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownTaxButton">
        {% for y in sales_years %}
            <a class="dropdown-item" href="{{ url_for('.taxed_stock_helper', project_id=project.id, year=y) }}">{{y}}</a>
        {% endfor %}
        </div>
    </div>

</div>
</div>
<hr>

{% for symbol, stock_price in symbols_stock.items() %}
<p class="lead p-3 border border-success">{{ symbol }}   {{ stock_price }} </p>
<div class="card-deck mb-3">
    {% if symbol in rsu_plans %}
    <div class="card">
        <div class="card-header">
            RSUs
            <a class="btn btn-success btn-sm float-right" href="">Sell</a>
        </div>
        <div class="card-body" id="accordion_rsu_{{symbol}}">
            {% for plan_name, (rsu_plan_id, tax_scheme, vestings) in rsu_plans[symbol].items() %}
                <div class="card">
                    <div class="card-header" id="headingOne">
                        {{plan_name}} <small class="text-muted">{{tax_scheme}}</small>
                        <a class="btn btn-danger btn-sm float-right" href="{{ url_for('.rm_rsu_plan', project_id=project.id, rsuplan_id=rsu_plan_id) }}"><i class="fa fa-trash"></i></a>
                        <button class="btn btn-link float-right" data-toggle="collapse" data-target="#collapse{{plan_name | replace(' ', '')}}">
                            <small>see vestings</small>
                        </button>
                    </div>
                    <div id="collapse{{plan_name | replace(' ', '')}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion_rsu_{{symbol}}">
                        <div class="card-body py-0">
                            <ul class="list-group list-group-flush">
                                {% for v_date, v_init, v_cur in vestings %}<li class="list-group-item">
                                    {% if v_init != v_cur %}
                                        v_date: <s>{{v_init}}</s> {{v_cur}}
                                    {% else %}
                                        v_date: {{v_init}}
                                    {% endif %}
                                </li>{% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if symbol in stockoptions_plans %}
    <div class="card">
        <div class="card-header">
            Stock Options
            <a class="btn btn-success btn-sm float-right" href="">Sell</a>
        </div>
        <div class="card-body" id="accordion_so_{{symbol}}">
            {% for plan_name, (stockoption_plan_id, strikeprice, vestings) in stockoptions_plans[symbol].items() %}
                <div class="card">
                    <div class="card-header" id="headingOne">
                        {{plan_name}} <small class="text-muted">strike price: {{strikeprice}}</small>
                        <a class="btn btn-danger btn-sm float-right" href="{{ url_for('.rm_stockoptions_plan', project_id=project.id, stockoption_plan_id=stockoption_plan_id) }}"><i class="fa fa-trash"></i></a>
                        <button class="btn btn-link float-right" data-toggle="collapse" data-target="#collapse{{plan_name | replace(' ', '')}}">
                            <small>see vestings</small>
                        </button>
                    </div>
                    <div id="collapse{{plan_name | replace(' ', '')}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion_so_{{symbol}}">
                        <div class="card-body py-0">
                            <ul class="list-group list-group-flush">
                                {% for v_date, v_init, v_cur in vestings %}<li class="list-group-item">
                                    {% if v_init != v_cur %}
                                        {{v_date}}: <s>{{v_init}}</s> {{v_cur}}
                                    {% else %}
                                        {{v_date}}: {{v_init}}
                                    {% endif %}
                                </li>{% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}        </div>
    </div>
    {% endif %}
    {% if symbol in directstocks %}
    <div class="card">
        <div class="card-header">
            Direct stocks
            <a class="btn btn-success btn-sm float-right" href="">Sell</a>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for s_id, s_date, s_init, s_cur in directstocks[symbol] %}<li class="list-group-item">
                    {% if s_init != s_cur %}
                        {{s_date}}: <s>{{s_init}}</s> {{s_cur}}
                    {% else %}
                        {{s_date}}: {{s_init}}
                    {% endif %}
                    <a class="btn btn-danger btn-sm float-right" href="{{ url_for('.rm_direct_stocks', project_id=project.id, dstocks_id=s_id) }}"><i class="fa fa-trash"></i></a>
                </li>{% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>

{% endfor %}

{% import 'bootstrap/form.html' as wtf %}
<div class="modal" id="DirectStocksModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">Direct Stocks</div>
            <div class="modal-body">
                    {{ wtf.render_form(dstock_form, action=url_for(".add_direct_stocks", project_id=project.id)) }}
            </div>
        </div>
    </div>
</div>

<div class="modal" id="RsuPlanModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">RSU Plan</div>
            <div class="modal-body">
                    {{ wtf.render_form(rsuplan_form, action=url_for(".add_rsu_plan", project_id=project.id)) }}
            </div>
        </div>
    </div>
</div>

<div class="modal" id="RsuImportModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">RSU Import</div>
            <div class="modal-body">
                    {{ wtf.render_form(rsu_import_form, action=url_for(".import_rsu_plan", project_id=project.id)) }}
            </div>
        </div>
    </div>
</div>

<div class="modal" id="RsuVestingModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">RSU Plan</div>
            <div class="modal-body">
                    {{ wtf.render_form(rsuvesting_form, action=url_for(".add_rsu_vesting", project_id=project.id)) }}
            </div>
        </div>
    </div>
</div>

<div class="modal" id="SellingStockModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">Selling direct stocks</div>
            <div class="modal-body">
                    {{ wtf.render_form(dstock_sale_form, action=url_for(".add_dstocks_sale", project_id=project.id)) }}
            </div>
        </div>
    </div>
</div>

<div class="modal" id="SellingRsuModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">Selling RSUs</div>
            <div class="modal-body">
                    {{ wtf.render_form(rsu_sale_form, action=url_for(".add_rsu_sale", project_id=project.id)) }}
            </div>
        </div>
    </div>
</div>

<script>
$('#RsuVestingModal').on('show.bs.modal', function (event) {
  let planId = $(event.relatedTarget).data('rsuplan')
  $(this).find('.modal-body #rsuplan_id').val(planId)
})
</script>


{% endblock %}

