{% extends "base.html" %}


{% block page_header %}
<a href="{{ url_for('main.index') }}"><i class="fas fa-home"></i></a> > Stocks {{project.name}}
{% endblock %}
{% block page_content %}
<div class="btn-toolbar mb-3" role="toolbar" aria-label="Stock management toolbar">
<div class="btn-group mr-2" role="group" aria-label="Add stocks and plans">
    <div class="btn-group" role="group">
        <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">Add Direct Stocks</button>
        <div class="dropdown-menu">
            <a class="dropdown-item" data-toggle="modal" data-target="#DirectStocksModal">Input</a>
            <a class="dropdown-item" data-toggle="modal" data-target="#DirectStocksImportModal">Import from TSV</a>
        </div>
    </div>
    <div class="btn-group" role="group">
        <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">Add RSU plan</button>
        <div class="dropdown-menu">
            <a class="dropdown-item" data-toggle="modal" data-target="#RsuImportModal">Import from TSV</a>
        </div>
    </div>
    <div class="btn-group" role="group">
        <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">Add Stock Option plan</button>
        <div class="dropdown-menu">
            <a class="dropdown-item" data-toggle="modal" data-target="#StockOptionsImportModal">Import from TSV</a>
        </div>
    </div>
</div>
<div class="btn-group mr-2" role="group" aria-label="Get tax statement">
    <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownTaxButton" data-toggle="dropdown">
            Tax helper
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownTaxButton">
        {% for y in sales_years %}
            <a class="dropdown-item" href="{{ url_for('.taxed_stock_helper', project_id=project.id, year=y) }}">{{y}}</a>
        {% endfor %}
        </div>
    </div>

</div>
</div>
<hr>

{% for symbol, (stock_price, stock_currency) in symbols_stock.items() %}
<p class="lead p-3 border border-success">{{ symbol }}   ${{ stock_price }} </p>
<div class="card-deck mb-3">
    {% if symbol in rsu_plans %}
    <div class="card">
        <div class="card-header">
            RSUs
            {% if symbol in sales['RSU'] %}
                - <span id="rsusales_tooltip" data-toggle="tooltip" title="{{sales['RSU'][symbol] | sales_to_tooltip}}">
                    <a href="#" data-toggle="modal" data-target="#SalesListModal" data-stocktype="RSU" data-symbol="{{symbol}}">
                        <small class="text-danger">{{sales['RSU'][symbol] | length}} sales </small>
                    </a>
                </span>
            <script>$('#rsusales_tooltip').tooltip({ html: true })</script>
            {% endif %}
            <a class="btn btn-success btn-sm float-right"
               data-toggle="modal"
               data-target="#SellingModal"
               data-stocktype="RSU"
               data-symbol="{{symbol}}"
               data-stockavailable="{{rsu_plans[symbol] | plans_to_available_stocks }}"
               data-stockvalue="{{ stock_price }}"
               data-stockcurrency="{{ stock_currency }}">Sell</a>
        </div>
        <div class="card-body" id="accordion_rsu_{{symbol}}">
            {% for plan in rsu_plans[symbol] %}
                <div class="card">
                    <div class="card-header">
                        {{plan.name}} <small class="text-muted">{{plan.tax_scheme.value}}</small>
                        <a class="btn btn-danger btn-sm float-right" href="{{ url_for('.rm_rsu_plan', project_id=project.id, rsuplan_id=plan.plan_id) }}"><i class="fa fa-trash"></i></a>
                        <button class="btn btn-link float-right" data-toggle="collapse" data-target="#collapse{{plan.name | replace(' ', '')}}">
                            <small>see vestings</small>
                        </button>
                    </div>
                    <div id="collapse{{plan.name | replace(' ', '')}}" class="collapse" data-parent="#accordion_rsu_{{symbol}}">
                        <div class="card-body py-0">
                            <ul class="list-group list-group-flush">
                                {% for v in plan.vestings %}<li class="list-group-item">
                                    {% if v.initial_amount != v.currently_available %}
                                        {{v.vesting_date}}: <s>{{v.initial_amount}}</s> {{v.currently_available}}
                                    {% else %}
                                        {{v.vesting_date}}: {{v.initial_amount}}
                                    {% endif %}
                                </li>{% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if symbol in stockoptions_plans %}
    <div class="card">
        <div class="card-header">
            Stock Options
            {% if symbol in sales["STOCKOPTIONS"] %}
            -   <span id="stockoptions_tooltip" data-toggle="tooltip" title="{{sales['STOCKOPTIONS'][symbol] | sales_to_tooltip}}">
                    <a href="#" data-toggle="modal" data-target="#SalesListModal" data-stocktype="STOCKOPTIONS" data-symbol="{{symbol}}">
                        <small class="text-danger">{{sales['STOCKOPTIONS'][symbol] | length}} sales </small>
                    </a>
                </span>
                <script>$('#stockoptions_tooltip').tooltip({ html: true })</script>
            {% endif %}
            <a class="btn btn-success btn-sm float-right"
               data-toggle="modal"
               data-target="#SellingModal"
               data-stocktype="STOCKOPTIONS"
               data-symbol="{{symbol}}"
               data-stockavailable="{{stockoptions_plans[symbol] | plans_to_available_stocks }}"
               data-stockvalue="{{ stock_price }}"
               data-stockcurrency="{{ stock_currency }}">Sell</a>
        </div>
        <div class="card-body" id="accordion_so_{{symbol}}">
            {% for plan in stockoptions_plans[symbol] %}
                <div class="card">
                    <div class="card-header" id="headingOne">
                        {{plan.name}} <small class="text-muted">strike price: {{plan.strike_price}}</small>
                        <a class="btn btn-danger btn-sm float-right" href="{{ url_for('.rm_stockoptions_plan', project_id=project.id, stockoption_plan_id=plan.plan_id) }}"><i class="fa fa-trash"></i></a>
                        <button class="btn btn-link float-right" data-toggle="collapse" data-target="#collapse{{plan.name | replace(' ', '')}}">
                            <small>see vestings</small>
                        </button>
                    </div>
                    <div id="collapse{{plan.name | replace(' ', '')}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion_so_{{symbol}}">
                        <div class="card-body py-0">
                            <ul class="list-group list-group-flush">
                                {% for v in plan.vestings %}<li class="list-group-item">
                                    {% if v.initial_amount != v.currently_available %}
                                        {{v.vesting_date}}: <s>{{v.initial_amount}}</s> {{v.currently_available}}
                                    {% else %}
                                        {{v.vesting_date}}: {{v.initial_amount}}
                                    {% endif %}
                                </li>{% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}        </div>
    </div>
    {% endif %}
    {% if symbol in directstocks_plans %}
    <div class="card">
        <div class="card-header">
            Direct stocks
                {% if symbol in sales["DIRECTSTOCKS"] %}
            - <span id="directstocks_tooltip" data-toggle="tooltip" title="{{sales['DIRECTSTOCKS'][symbol] | sales_to_tooltip}}">
                    <a href="#" data-toggle="modal" data-target="#SalesListModal" data-stocktype="DIRECTSTOCKS" data-symbol="{{symbol}}">
                        <small class="text-danger">{{sales['DIRECTSTOCKS'][symbol] | length}} sales </small>
                    </a>
                </span>
                <script>$('#directstocks_tooltip').tooltip({ html: true })</script>
            {% endif %}
            <a class="btn btn-success btn-sm float-right"
               data-toggle="modal"
               data-target="#SellingModal"
               data-stocktype="ESPP"
               data-symbol="{{symbol}}"
               data-stockavailable="{{directstocks_plans[symbol] | plans_to_available_stocks }}"
               data-stockvalue="{{ stock_price }}"
               data-stockcurrency="{{ stock_currency }}">Sell</a>
        </div>
        <div class="card-body" id="accordion_ds_{{symbol}}">
            {% for plan in directstocks_plans[symbol] %}
                <div class="card">
                    <div class="card-header">
                        {{plan.name}}
                         <a class="btn btn-danger btn-sm float-right" href="{{ url_for('.rm_dstock_plan', project_id=project.id, dsplan_id=plan.plan_id) }}"><i class="fa fa-trash"></i></a>
                        <button class="btn btn-link float-right" data-toggle="collapse" data-target="#collapse{{plan.name | replace(' ', '')}}">
                            <small>see details</small>
                        </button>
                    </div>
                    <div id="collapse{{plan.name | replace(' ', '')}}" class="collapse" data-parent="#accordion_so_{{symbol}}">
                        <div class="card-body py-0">
                            <ul class="list-group list-group-flush">
                                {% for s in plan.stocks %}<li class="list-group-item">
                                    {% if s.initial_amount != s.currently_available %}
                                        {{s.acquisition_date}}: <s>{{s.initial_amount}}</s> {{s.currently_available}}
                                    {% else %}
                                        {{s.acquisition_date}}: {{s.initial_amount}}
                                    {% endif %}
                                </li>{% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>

{% endfor %}

{% import 'bootstrap/form.html' as wtf %}
<div class="modal" id="DirectStocksModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">Direct Stocks</div>
            <div class="modal-body">
                    {{ wtf.render_form(dstock_form, action=url_for(".add_direct_stocks", project_id=project.id)) }}
            </div>
        </div>
    </div>
</div>

<div class="modal" id="DirectStocksImportModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">Direct stocks Import</div>
            <div class="modal-body">
                    {{ wtf.render_form(directstocks_import_form, action=url_for(".import_dstocks", project_id=project.id)) }}
            </div>
        </div>
    </div>
</div>

<div class="modal" id="RsuImportModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">RSU Import</div>
            <div class="modal-body">
                    {{ wtf.render_form(rsu_import_form, action=url_for(".import_rsu_plan", project_id=project.id)) }}
            </div>
        </div>
    </div>
</div>


<div class="modal" id="StockOptionsImportModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">Stock Options Import</div>
            <div class="modal-body">
                    {{ wtf.render_form(stockoptions_import_form, action=url_for(".import_stockoptions", project_id=project.id)) }}
            </div>
        </div>
    </div>
</div>

<div class="modal" id="SellingModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">Selling direct stocks</div>
            <div class="modal-body">
                <form action="{{ url_for('.sell_stocks', project_id=project.id) }}" method="post" class="form" role="form">
                    {{ sale_form.csrf_token() }}
                    {{ wtf.render_field(sale_form.symbol)  }}
                    {{ wtf.render_field(sale_form.stock_type)  }}
                    {{ wtf.render_field(sale_form.quantity)  }}
                    <input id="quantity_edit" name="quantity_edit" type="number" value="">
                    {{ wtf.render_field(sale_form.sell_date)  }}
                    {{ wtf.render_field(sale_form.sell_price)  }}
                    {{ wtf.render_field(sale_form.sell_currency)  }}
                    {{ wtf.render_field(sale_form.submit)  }}
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SalesListModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sellModalLabel">Sell events</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>Amount of Stocks</th>
              <th>FMV</th>
              <th>Total in €</th>
              <th>Taxes</th>
              <th>Net Proceeds</th>
              <th></th> <!-- Delete Button Column -->
            </tr>
          </thead>
          <tbody id="salesListTable">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

</div>

<script>
$(document).ready(function() {
  // 1. connect sell modal quantity range input and text input
  var quantityRangeInput = $('#SellingModal').find('.modal-body #quantity');
  var quantityTextInput = $('#SellingModal').find('.modal-body #quantity_edit');

  quantityRangeInput.on('input', function() {
    quantityTextInput.val(quantityRangeInput.val());
  });

  quantityTextInput.on('input', function() {
    var enteredValue = parseFloat(quantityTextInput.val());
    var maxValue = parseFloat(quantityRangeInput.attr('max'));
    // Validate the entered value against the maximum value
    if (enteredValue > maxValue) {
      quantityTextInput.val(maxValue);
    }
    quantityRangeInput.val(quantityTextInput.val());
  });

  // 2. prepare data for sell listing
  var allSellData = {{ sales | tojson }};

  $('#SalesListModal').on('show.bs.modal', function (event) {
    let target = $(event.relatedTarget)
    let stockType = target.data('stocktype');
    let symbol = target.data('symbol');
    var sellData = allSellData[stockType][symbol]

    var modalContent = $(this).find('.modal-body #salesListTable');
    modalContent.empty();

    for (var i = 0; i < sellData.length; i++) {
        var rowData = sellData[i]
        var row = `
            <tr>
              <td>${rowData["quantity"]}</td>
              <td>${rowData["sell_price"]} USD</td>
              <td>${rowData["quantity"] * rowData["sell_price_eur"]}</td>
              <td>${rowData["taxes"]}</td>
              <td>${(rowData["quantity"] * rowData["sell_price_eur"] - rowData["taxes"]).toFixed(2)}</td>
              <td>
                <a class="btn btn-danger btn-sm" href="{{ url_for('.rm_sell_event', project_id=project.id) }}?id=${rowData["sale_id"]}">
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
        `;
        modalContent.append(row);
    }
  });
});

$('#SellingModal').on('show.bs.modal', function (event) {
  let stockType = $(event.relatedTarget).data('stocktype')
  $(this).find('.modal-body #stock_type').val(stockType)
  let symbol = $(event.relatedTarget).data('symbol')
  $(this).find('.modal-body #symbol').val(symbol)
  let stockvalue = $(event.relatedTarget).data('stockvalue')
  $(this).find('.modal-body #sell_price').val(stockvalue)
  let stockcurrency = $(event.relatedTarget).data('stockcurrency')
  $(this).find('.modal-body #sell_currency').val(stockcurrency)
  let available_stocks = $(event.relatedTarget).data('stockavailable')
  $(this).find('.modal-body #quantity')[0].max = available_stocks
  $(this).find('.modal-body #quantity')[0].value = 0
})
</script>


{% endblock %}

