{% extends "base.html" %}


{% block page_header %}
<a href="{{ url_for('main.index') }}"><i class="fas fa-home"></i></a> > Project {{project.name}}
{% endblock %}

{% block page_content %}
<div class="my-4"> Married = {{ 'Yes' if project.married else 'No' }} ; Children = {{project.nb_children}}</div><a class="btn" data-toggle="modal" data-target="#EditProject"> Edit...</a>


<div class="card-columns">

    {% for taxstatement in taxstatements %}
    <div class="card">
        <h3 class="card-header">{{ taxstatement.year }}</h3>
        <div class="card-body">
            <p class="card-text">Coucou</p>
            <a href="{{ url_for('.taxstatement',  project_id=project.id, taxstatement_id=taxstatement.id) }}" class="btn btn-primary">Go</a>
            <a href="{{ url_for('.taxstatement_delete', project_id=project.id, taxstatement_id=taxstatement.id) }}" class="btn btn-danger">Delete</a>
        </div>
    </div>
    {% endfor %}


    {% import 'bootstrap/form.html' as wtf %}
    <div class="card">
        <h3 class="card-header text-center bg-info text-white">Add a Tax Statement</h3>
        <div class="card-body">
            {{ wtf.render_form(tax_form) }}
        </div>
    </div>

</div>


<div class="modal" id="EditProject" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">Edit project</div>
            <div class="modal-body">
                    {{ wtf.render_form(project_edit_from, action=url_for("main.project_update", project_id=project.id)) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
