{% extends "base.html" %}


{% block page_header %}
    <a href="{{ url_for('main.index') }}"><i class="fas fa-home"></i></a> > <a href="{{ url_for('main.project_tax', project_id=project.id) }}"> Project {{project.name}}</a> > Tax statement {{taxstatement.year}}
{% endblock %}

{% block page_content %}
<hr>

{% for elt_name, elt_object, elt_form, elt_fields, _ in statement_elements %}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-11">
                <h3 class="text-center">{{elt_name}}</h3>
            </div>
            <div class="col-1">
{% if elt_object %}
                <button class="btn btn-primary" data-toggle="modal" data-target="#{{elt_name | replace(' ','') }}Modal">Edit</button>
{% else %}
                <button class="btn btn-primary" data-toggle="modal" data-target="#{{elt_name | replace(' ','') }}Modal">Add</button>
{% endif %}
            </div>
        </div>
    </div>
{% if elt_object %}
    <ul class="list-group">
        {% for field_text, field_name in elt_fields %}
        <li class="list-group-item"><text class="text-muted">{{field_text}}</text> € {{ elt_object | attr(field_name) }}</li>
        {% endfor %}
    </ul>
{% endif %}
</div>
{% endfor %}

{% import 'bootstrap/form.html' as wtf %}

<!-- Modals -->
{% for elt_name, elt_object, elt_form, elt_fields, upsert_route in statement_elements %}
<div class="modal" id="{{elt_name | replace(' ','') }}Modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">{% if elt_object %}Edit{% else %}Add{% endif %} {{elt_name}}</div>
            <div class="modal-body">
                    {{ wtf.render_form(elt_form, action=url_for("tax." + upsert_route, project_id=project.id, taxstatement_id=taxstatement.id)) }}
            </div>
        </div>
    </div>
</div>
{% endfor %}
<hr>

<div class="row">
    <div class="col">
        <h5> Your taxes will be {{ total_taxes }}
            <a class="btn" data-toggle="collapse" href="#collapseTaxDetails" role="button" aria-expanded="false" aria-controls="collapseExample">
                Details...
            </a>
        </h5>

        <div class="collapse" id="collapseTaxDetails">
            {% for field_text, field_content in tax_result.items() %}
                <text class="text-muted">{{field_text}}</text> € {{ field_content }}<br>
            {% endfor %}
            <hr>
            {% for field_text, field_content in tax_flags.items() %}
                <text class="text-muted">{{field_text}}</text> € {{ field_content }}<br>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
