# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Install dependencies
      run: uv sync --locked --dev

    - name: Install locales
      run: |
        locale -a
        sudo locale-gen en_GB.UTF-8
        sudo locale-gen zh_HK.UTF-8
        sudo locale-gen en_IE.UTF-8
        sudo locale-gen en_US.UTF-8
        sudo locale-gen ja_JP.UTF-8
        sudo update-locale
        locale -a

    - name: Linting
      run: uv run ruff check .

    - name: Test with pytest
      run: uv run pytest
